.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form {
  /* border: 1px solid black;  */
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.19);
  padding: 2rem;
  border-radius: 10px;
  width: 19%;
}
.form-group {
  margin-bottom: 1rem;
}
.label-block {
  display: block;
  margin-bottom: 0.5rem;
}
.input-text,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(33, 33, 33);
  width: 85%;
}
.btns-container {
  margin-top: 2rem;
  text-align: center;
}
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-right: 0.6rem;
  border: none;
}
.checkbox-container,
.radio-container {
  display: inline-block;
  margin-right: 1rem;
}
.error {
  color: red;
}

input[name="degree"] {
}

a[href=""] {
}

@media screen and (max-width: 1200px) {
  .form {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .form {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .form {
    width: 90%;
  }
}

